:root {
  --clr-bg: #ffefcc;
  --clr-white: #fff;
  --clr-blue: #3cc2ef;
  --clr-blue-dark: #0074be;
  --clr-black-dark: #141414;
  --clr-black-opacity: #1414143f;
  --clr-black-light: #656982;
  --clr-red: #ed6077;
  --clr-green: #60ed77;
}
