:root {
  --clr-bg: #0088c9;
  --clr-white: #fff;
  --clr-blue-dark: #0074be;
  --clr-black-dark: #141414;
  --clr-black-opacity: #1414143f;
  --clr-black-light: #242424;
  --clr-red: #d31f1f;
  --clr-green: #14a338;
}
