.logo {
  cursor: pointer;
  position: absolute;
  top: 2%;
  left: 2%;
  img {
    width: 50px;

    &:hover {
      animation: logo-animation .5s ease-in-out alternate infinite;
    }
  }
}

@keyframes logo-animation {
  to {
    transform: scale(1.1);
  }
}
